* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img {
  width: 300px;
  margin: 0 auto;
  padding-top: 165px;
  z-index: 1;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

form {
  width: 360px;
}

.card-login {
  background: #D5CABD;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 0px;
  height: 500px;
  width: 400px;
  margin-left: 9vw;
  display: flex;
  flex-direction: column;
}

.login-content img {
  height: 130px;
  margin: 0 auto;
}

.avatar {
  width: 150px;
}

form h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}


a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}


.card-login .buttons-login {
  display: flex;
  flex-direction: row;
}

.card-login .buttons-login button {
  height: 90px;
  width: 138px;
  margin: 9px auto;
  border-radius: 18px;
  border: transparent;
  transition: 0.7s;
  outline: transparent;
}

.card-login .buttons-login button:hover {
  opacity: 0.6;
}

.card-login .buttons-login button span{
  margin: 100px; 
}

.btn-microsoft {
  background: whitesmoke;
  color: white;
  cursor: pointer;
  box-shadow: 14px 7px 69px -19px rgba(0,0,0,0.75);
}

.login-content .btn-microsoft .btn-logo{
  height: 60px;
}

.login-content .btn-google .btn-logo{
  height: 60px;
}


.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  form h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}
